.games__container{
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    min-height: 90vh;
}

.main__container{
    width: 90%;
    background-image: linear-gradient(to bottom, #1a1a1a, #151515, #101010, #080808, #000000);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 5rem 2rem 5rem;
    position: relative;
}

.games__box>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.head__contain{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.info__contain{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.game__title{
    font-size: 1.6rem !important;
}
.info__contain>section{
    display: flex;
    gap: 0.7rem;
    align-items: center;
}
.cover__image{
    width: 280px;
    height: 150px;
    object-fit: cover;
    border-radius: 0.3rem;
    border: 1px solid rgb(64, 64, 64);
    box-shadow: 1px 1px 15px black;
}

.images{
    width: 400px;
}

.info__contain > h2, .info__contain>section>h4{
    color: tomato;
}
.info__contain > h2{
    font-size: 4rem;
    text-decoration: underline;
}
.info__contain>section>h4{
    font-size: 1.1rem;
}

.text{
    color: white;
    font-size: 1.2rem;
}
.cart__wish__contain{
    position: absolute;
    top: 20px;
    right: 35px;
}
.wishlistNum{
    position: absolute;
    display: flex;
    gap: 0.2rem;
    top: 5px;
    right: 55px;
    background-color: tomato;
    color: black;
    padding: 0.1rem 0.4rem;
    border-radius: 1px;
}
.wishlistNum:hover{
    background-color: #ff846e;
}
.cart{
    color: tomato;
    scale: 1.3;
}
.cart:hover{
    color:#ff846e;
}
.cart__icon>p{
    background-color: white;
    color: tomato;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: 16px;
    right: -7px;
}
.button__cart{
    width: 120px;
    height: 20px;
    cursor: pointer;
    border-radius: 0.3rem;
    border: none;
    color: tomato;
    font-weight: bold;
    transition: 0.5s;
}
.button__cart:hover{
    background-color: tomato;
    color: white;
    transition: 0.5s;
}
.button__wish{
    width: 250px;
    height: 40px;
    cursor: pointer;
    border: none;
    border: 2px tomato solid;
    border-radius: 0.3rem;
    background-color: tomato;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    transition: 0.5s;
}
.button__wish:hover{
    color: tomato;
    background-color: transparent;
    border: 2px tomato solid;
    transition: 0.5s;
}

.description{
    color: white;
    font-size: 1.2rem;
    text-indent: 2rem;
}
.review__container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem 4rem;
}
.review__box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: tomato;
    padding: 0.8rem;
    border-radius: 0.5rem;
    width: 100%;
    max-width: 600px;
    position: relative;
}
.review__box>p{
    overflow-wrap: break-word;
}
.review__box>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.5rem;
    background-color: rgb(255, 77, 46);
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.review__box>div>div{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.review__head{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    color: white;
}
.review__image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px #b7240a solid;
}
.review__recommended{
    background-image: linear-gradient(to right, #00aa3ca2, #08b94394, #11c84e7f, #17d75767, #1ce7635f);
    border-radius: 0.2rem;
    padding: 0.5rem;
    color: rgb(4, 46, 4);
}
.review__notrecommended{
    background-image: linear-gradient(to right, #bb1027c9, #c21f2da9, #c92a3294, #cf343982, #d63d3d6c);
    border-radius: 0.2rem;
    padding: 0.5rem;
    color: rgb(84, 8, 8);
}
.review__title__container{
    align-self: self-start;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    width: 100%;
    justify-content: space-between;
}
.subtitles{
    color: tomato;
    font-size: 1.4rem;
    text-decoration: underline;
}
.description__container{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.button__review{
    width: 185px;
    height: 40px;
    cursor: pointer;
    border: none;
    border: 2px tomato solid;
    border-radius: 0.3rem;
    background-color: tomato;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    transition: 0.5s;
}
.button__review:hover{
    color: tomato;
    background-color: transparent;
    border: 2px tomato solid;
    transition: 0.5s;
}
.review__modal{
    background-color: tomato;
    border: 2px solid rgb(255, 62, 28);
    border-radius: 0.3rem;
    width: 90%;
    max-width: 600px;
    height: 290px;
    position: fixed;
    top: 30%;
    right: 50%;
    transform: translate(50%, -200%);
    transition: 0.7s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    gap: 0.5rem;
    
}
.review__modal>span{
    cursor: pointer;
    align-self: flex-end;
}
.review__modal>span:hover{
    color: #3b3b3b;
}
.review__modal__view{
    transform: translate(50%, 0%);
    transition: 0.7s;
}
.review__textarea{
    resize: none;
    padding: 4px;
}
.review__select{
    padding: 0.2rem;
    border: none;
    border-radius: 0.2rem;
    border: 1px solid rgb(115, 115, 115);
    background-color: rgb(255, 255, 255);
    color: rgb(18, 18, 18);
    font-weight: bold;
    cursor: pointer;
}
.review__select:focus{
    border-color: rgb(255, 71, 39);
}
.review__modal>div{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: space-between;
}
.review__modal>div>button{
    width: 110px;
    border: none;
    border-radius: 0.2rem;
    border: 1px solid #dbdbdb;
    background-color: white;
    font-weight: bold;
    color: #181818;
    font-size: 0.9rem;
    cursor: pointer;
    transition: 0.2s;
}
.review__modal>div>button:hover{
    background-color: #fe4c2c;
    border-color: #fe4c2c;
    transition: 0.3s;
    font-size: 0.9rem;
}
.review__remove__icon{
    color: #ff1414;
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 0px;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    background-color: white;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0.2rem;
    transition: all 0.3s;
}
.review__remove__icon:hover{
    scale: 0.9;
    transition: all 0.3s;
}
.game__mine{
    color: rgb(209, 209, 209);
    font-size: 0.9rem;
    text-decoration: underline;
    margin-top: 4px;
}
@media (min-width: 769px){
    .cover__image{
    width: 650px;
    height: 300px;
    }
    .head__contain{
        gap: 5rem;
    }
    .info__contain>section>h4{
        font-size: 1.4rem;
    }
    .game__title{
        font-size: 2.3rem !important;
    }
    .subtitles{
        font-size: 1.9rem !important;
    }
    .description{
        font-size: 1.5rem;
    }
}
@media (min-width: 1025px){
    .cover__image{
    width: 800px;
    height: 400px;
    }
    .games__box{
        width: 90%;
    }
    .cart__icon{
        top: 20px;
        right: 35px;
    }
}
@media (min-width: 1400px){
    .head__contain{
        flex-direction: row;
        gap: 0;
        justify-content: space-between;
        width: 1200px;
    }
    .info__contain{
        width: 370px;
    }
}

@media (min-width: 1600px){
    .head__contain{
        width: 1300px;
    }
    .info__contain{
        width: 470px;
    }
}