.profile__container{
    background-color: rgb(0, 0, 0);
    min-height: 90vh;
    display: flex;
    justify-content: center;
    color: white;
}

.main__container{
    width: 90%;
    background-image: linear-gradient(to bottom, #1a1a1a, #151515, #101010, #080808, #000000);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 3rem 5rem 2rem 5rem;
    position: relative;
    gap: 0.5rem;
}
.wallpaper{
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem;
    border-radius: 6px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.wallpaper__users{
    background-image: url('../../public/img/wallpaper3.jpg');
}


.profile__data{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.profile__image{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 0.5rem 0.5rem 0 0;
    border-bottom: tomato solid 2px;
}

.profile__card{
    display: flex;
    flex-direction: column;
    width: 250px;
    gap: 2rem;
    border: 1px rgb(54, 54, 54) solid;
    padding-bottom: 2rem;
    border-radius: 0.5rem;
    position: relative;
    background-color: rgba(0, 0, 0, 0.433);
}
.add__friend{
    scale: 1.2;
    position: absolute;
    right: 10px;
    color: tomato;
    cursor: pointer;
    transition: 0.2s;
}
.add__friend:hover{
    scale: 1.25;
    transition: 0.2s;
    color: rgb(250, 117, 93);
}

.text__container{
    padding-left: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.text__container>p{
    color: tomato;
    font-size: 1.3rem;
}

.text__container>p>span{
    color: white;
    font-size: 1.1rem;
}
.request__div{
    position: relative;
}
.request__div2{
    padding-top: 0.8rem;
    position: relative;
}
.request__div3{
    background-color: tomato;
    width: 40px;
    height: 40px;
    transform: rotate(45deg);
    position: absolute;
    top: 12px;
    left: 10px;
    border-radius: 0.2rem;
    z-index: 0;
}
.request__container{
    position: relative;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 255px;
    min-height: 48px;
    border-radius: 0.7rem;
    background-color: tomato;
    border-bottom: 2px solid rgb(255, 64, 31);
    border-right: 2px solid rgb(255, 64, 31);
    border-left: 2px solid rgb(255, 64, 31);
    z-index: 4;
}
.request__card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    padding: 0.5rem;
    z-index: 4;
    border-bottom: 1px solid rgb(252, 44, 7);
}

.request__card>div{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.request__image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    z-index: 4;
}
.request__accept{
    color: rgb(23, 132, 23);
    cursor: pointer;
}
.request__deny{
    color: rgb(255, 53, 53);
    cursor: pointer;
}
.request__button{
    width: 150px;
    height: 25px;
    cursor: pointer;
    border-radius: 0.3rem;
    border: none;
    color: tomato;
    font-weight: bold;
    transition: 0.5s;
    font-size: 0.8rem;
}
.request__button:hover{
    background-color: tomato;
    color: white;
    transition: 0.5s;
}
.request__button>span{
    color: black;
    text-decoration: underline black;
}
.request__text{
    font-size: 1.1rem;
    text-align: center;
    padding-top: 0.2rem;
}
.edit__icon{
    position: absolute;
    top: 255px;
    right: 5px;
    color: tomato;
    cursor: pointer;
}
.edit__icon:hover{
    color: #ff846e;
}
.edit__modal{
    position: relative;
    background-color: tomato;
    border: 2px solid rgb(255, 62, 28);
    border-radius: 0.3rem;
    width: 90%;
    max-width: 350px;
    height: 250px;
    position: fixed;
    top: 30%;
    right: 50%;
    transform: translate(50%, -200%);
    transition: 0.7s;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.6rem;
    z-index: 2;
}
.edit__modal>p{
    font-size: 1.2rem;
}
.edit__modal>span{
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    color: black;
}
.edit__modal>span:hover{
    color: #3b3b3b;
}
.edit__view__modal{
    transform: translate(50%, 0%);
    transition: 0.7s;
}
.edit__form{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}
.edit__form>input{
    border: none;
    height: 25px;
    border-radius: 0.2rem;
    border: 1px rgb(171, 171, 171) solid;
    padding: 1px;
}
.edit__form>button{
    margin-top: 3px;
    height: 27px;
    border: none;
    background-color: white;
    border-radius: 0.3rem;
    color: tomato;
    font-weight: bold;
    border: 1px rgb(170, 170, 170) solid;
    font-size: 1.05rem;
    transition: 0.4s;
    cursor: pointer;
}
.edit__form>button:hover{
    border-color: tomato;
    background-color: rgb(255, 121, 98);
    color: white;
    transition: 0.4s;
}
.links__container{
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    gap: 1.6rem;
}
.links__wishlist{
    background-color: tomato;
    color: black;
    padding: 0.1rem 0.4rem;
    border-radius: 1px;
}
.links__wishlist:hover{
    background-color: #ff846e;
}
.links__icon{
    color: tomato;
    scale: 1.3;
}
.links__icon:hover{
    color:#ff846e;
}
.links__cart>p{
    background-color: white;
    color: tomato;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: 16px;
    right: -7px;
}
.user__links__div{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: tomato;
    border-radius: 0.1rem;
    padding: 2px;
    width: 120px;
    cursor: pointer;
    transition: 0.3s;
    color: white;
}
.user__links__div:hover{
    background-color: rgba(255, 99, 71, 0.599);
    transition: 0.3s;
}
.friends__box{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    z-index: 5;
    width: 90%;
    max-height: 500px;
    overflow: auto;
    max-width: 300px;
    padding: 0.6rem;
    border-radius: 0.2rem;
    background-color: tomato;
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.friends__box>span{
    color: black;
    align-self: flex-end;
    cursor: pointer;
    transition: 0.3s;
}
.friends__box>span:hover{
    color: #3b3b3b;
    transition: 0.3s;
}
.friends__box>p{
    text-align: center;
    text-decoration: underline;
    font-size: 1.1rem;
}
.friends__card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to right, #575757, #5e5e5e, #646464, #6b6b6b, #727272);
    padding: 5px;
    border-radius: 0.2rem;
}
.friends__card:hover{
    background-image: linear-gradient(to left, #575757, #5e5e5e, #646464, #6b6b6b, #727272);
}
.friends__card>a{
    display: flex;
    align-items: center;
    gap: 0.3rem;
}
.friends__card>a>p{
    color: white;
}
.friends__card>a>img{
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 0.1rem;
    border: 2px #b7240a solid;;
}
.friends__card>span{
    align-self: flex-start;
    color: rgb(255, 55, 0);
    transition: 0.2s;
}
.friends__card>span:hover{
    color: rgb(164, 25, 25);
    transition: 0.2s;
}

.publication__box{
    background-color: tomato;
    position: fixed;
    transform: translate(-50%, 0%);
    left: 50%;
    top: 11%;
    width: 90%;
    max-width: 700px;
    padding: 1rem;
    z-index: 6;
    border-radius: 0.3rem;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
    overflow: auto;
}
.publication__box>span{
    align-self: flex-end;
    color: black;
    cursor: pointer;
    transition: 2s;
}
.publication__box>span:hover{
    color: rgb(65, 65, 65);
    transition: 2s;
}
.publication__card{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    background-color: rgba(152, 152, 152, 0.55);
    padding: 0.5rem;
    border-radius: 0.3rem;
}
.publication__card >:nth-child(1){
    font-size: 1.3rem;
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: space-between;
}
.publication__card >:nth-child(2){
    font-size: 1.1rem;
    text-indent: 0.8rem;
    color: rgb(55, 55, 55);
}
.publication__card >div{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-top: 0.2rem;
    color: rgb(0, 0, 0);
}
.publication__card >div>div{
    display: flex;
    align-items: center;
    gap: 0.2rem;
}
.publication__card >div>div>span{
    color: orangered;
}
.publication__box>p{
    text-align: center;
    font-size: 1.1rem;
    text-decoration: underline;
}
.add__funds{
    color: tomato !important;
    cursor: pointer;
    background-color: white;
    padding: 1px;
    border-radius: 3px;
}

.background__container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 8px;
}

.background__form>label>img{
    width: 150px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 3px;
}
input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
input[type="radio"]:focus + img {
    border: 1px rgb(238, 141, 62) solid;
}

@media (min-width: 769px){
    .profile__card{
        flex-direction: row;
        padding: 0 2rem 2rem 0;
        width: 600px;
        height: 252px;
    }
    .text__container{
        padding-left: 0;
        padding-top: 0.5rem;
    }
    .profile__image{
        border-radius: 0.5rem 0 0 0.5rem;
        border-right: tomato solid 2px;
        border-bottom: none;
    }
    .edit__icon{
        top: 5px;
        right: 10px;
    }
    .edit__modal{
        height: 230px;
    }
    .links__container{
        right: 50px;
    }
    .wallpaper{
        width: 620px;
    }

}

@media (min-width: 1600px){
    .links__container{
        right: 500px;
    }
    .wallpaper{
        width: 60%;
        height: 600px;
    }
}
