.store__container{
    background-color: rgb(0, 0, 0);
    min-height: 90vh;
    display: flex;
    justify-content: center;
}

.main__container{
    width: 90%;
    background-image: linear-gradient(to bottom, #1a1a1a, #151515, #101010, #080808, #000000);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 5rem 2rem 5rem;
    position: relative;
}

.games__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    gap: 4rem;
}

.card__games{
    width: 280px;
    height: 330px;
    background-image: linear-gradient(to right, #ff6347, #ff694e, #ff6e55, #ff745b, #ff7962);
    border-radius: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 4px 8px 11px 0px rgba(61,61,61,0.72);
    -webkit-box-shadow: 4px 8px 11px 0px rgba(61,61,61,0.72);
    -moz-box-shadow: 4px 8px 11px 0px rgba(61,61,61,0.72);
}
.card__games:hover{
    background-image: linear-gradient(to left, #ff6347, #ff694e, #ff6e55, #ff745b, #ff7962);
}

.image__container{
    position: relative;
}


.store__image{
    width: 280px;
    height: 200px;
    object-fit: cover;
    border-radius: 0.8rem 0.8rem 0 0;
}

.text__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text__container>h2{
    color: white;
    text-decoration: none !important;
}
.text__container>p{
    font-size: 2rem;
    color: rgb(17, 17, 17);
    text-decoration: underline;
}

a:-webkit-any-link {
    cursor: pointer;
    text-decoration: none;
}
.cart{
    color: tomato;
    scale: 1.3;
    position: absolute;
    top: 20px;
    right: 35px;
}

@media (min-width: 769px){
    .card__games{
        width: 600px;
        height: 250px;
        flex-direction: row;
        gap: 2rem;
    }
    .store__image{
        width: 300px;
        height: 250px;
        border-radius: 0.8rem 0 0 0.8rem;
    }
    .text__container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: normal;
    }
    .card__games:hover .cover__div{
        background-color: rgba(224, 224, 224, 0.156);
        position: absolute;
        top: 0;
        left: 0;
        width: 300px;
        height: 250px;
        border-radius: 0.8rem 0 0 0.8rem;
    }
}