@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;

}

.slick-dots li button:before{
  color: orange !important;
}

#file-upload {
  display: none;
}


/* ESTILO DE SWEET ALERT */
.swal-overlay {
  background-color: rgba(44, 44, 44, 0.45);
}

.swal-modal {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(204, 204, 204);
}

.swal-title {
  margin: 0px;
  font-size: 1.5rem;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
  margin-bottom: 28px;
}

.swal-text {
  background-color: rgb(255, 128, 106);
  padding: 17px;
  border-radius: 3px;
  border: 1px solid rgb(255, 107, 81);
  display: block;
  margin: 22px;
  text-align: center;
  color: white;
}

.swal-footer {
  background-color: rgb(245, 248, 250);
  margin-top: 32px;
  border-top: 1px solid #E9EEF1;
  overflow: hidden;
}

.swal-button--confirm:first-child {
  padding: 7px 19px;
  border-radius: 2px;
  background-color: #444444;
  font-size: 12px;
  border: 1px solid #5e5e5e;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}
.swal-button--confirm:hover {
  background: #5a5a5a !important;
}


/* ESTILO DE LOADER   */
.spinner__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  gap: 2rem;
  z-index: 15;
  top: 200px;
  background-color: rgb(243, 243, 243);
  padding: 3rem;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 4px;
}
.spinner__container>h4{
  color: rgb(46, 46, 46);
}
.spinner {
  width: 44px;
  height: 44px;
  animation: spinner-y0fdc1 2s infinite ease;
  transform-style: preserve-3d;
 }
 
 .spinner > div {
  background-color: rgba(255, 89, 0, 0.2);
  height: 100%;
  position: absolute;
  width: 100%;
  border: 2px solid #ff4d39;
 }
 
 .spinner div:nth-of-type(1) {
  transform: translateZ(-22px) rotateY(180deg);
 }
 
 .spinner div:nth-of-type(2) {
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
 }
 
 .spinner div:nth-of-type(3) {
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
 }
 
 .spinner div:nth-of-type(4) {
  transform: rotateX(90deg) translateY(-50%);
  transform-origin: top center;
 }
 
 .spinner div:nth-of-type(5) {
  transform: rotateX(-90deg) translateY(50%);
  transform-origin: bottom center;
 }
 
 .spinner div:nth-of-type(6) {
  transform: translateZ(22px);
 }
 
 @keyframes spinner-y0fdc1 {
  0% {
   transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
  }
 
  50% {
   transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
  }
 
  100% {
   transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
  }
 }